# Ignore everything in the config/mssql/bak/ directory
config/mssql/bak/*

# Ignore everything in the db/ directory
db/*

# Ignore everything in the www/delete_later/ directory
www/delete_later/*

# Ignore uploaded files
www/files/*